---
---
$base-font-family: Helvetica, Arial, sans-serif;
$secondary-font: Times;
$spacing-unit: 60px;
$brand-color: #111;
@import "{{ site.theme }}";
body { 
  font-size: 20px;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
}
.wrapper {
  max-width: calc(1600px - (60px * 2));
}
.site-header {
  border-top: none;
  border-bottom: 0px solid;
  padding: $spacing-unit 0;
  min-height: $spacing-unit;
}
.site-title {
    font-size: 20px;
    letter-spacing: 0;
    font-weight: normal;
    letter-spacing: 0.03em;
}
.post-meta {
    font-size: 24px;
    color: $grey-color-dark;
}
a.post-link , a.post-link:visited {
    color: $grey-color-dark !important;
}
.post-list {
    & h2 {
        margin-left: 40px; }
}
.post-list {
    & img {
        max-height: 250px; }
}
.post-list {
    & li {
        margin-bottom: 140px;
    }

}
.post-thumbnail {
  flex:1;
}
.post-thumbnail-img {
  width: 300px;
  float: right;
}
.post-title-c {
  text-align: center;
  margin-left: -2.5em;
  flex:1;
  font-family: $secondary-font;
  letter-spacing: 0;
}
.post-title-c .c {
    width: 250px;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 18px;
    color: #424242;

}
.post-title-c.a {
  background-image: url(/zim/assets/img/circle.svg);
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position-y: 50%;
}
.post-title-c.b {
  background-image: url(/zim/assets/img/circle2.svg);
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position-y: 50%;
}
a.post-link {
      font-size: 18px;
          margin-right: 2.5em;
}
article.post {
  width: 700px;
}
.feed {
  font-family: $secondary-font;

    display: inline-block;
 -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
     -ms-transform: skewX(-30deg);
      -o-transform: skewX(-30deg);
         transform: skewX(-30deg);
}
.indent {
    margin-left: 2em;
}
.post-content h3 {
    font-size: 20px;
    letter-spacing: 0px;
    font-family: $secondary-font;
}
.post-meta, .post-title {
  display: none;
}

.show__image {
	position: relative;
}

.show__image .blog__image {
  min-width: 250px;
	max-width: 250px;
	position: absolute;
	z-index: -100;
	display: none !important;
}

.show__image:hover .blog__image  {
	display: block !important;
}