<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include head.html %}

<body>
  {% include header.html %}
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

</body>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function(){
      $(".show__thumb a").mousemove(function(e){
          $('.blog__thumb').offset({left: e.pageX, top: e.pageY - $('.blog__thumb img').height()/2 });
      });
      $(".show__image span").mousemove(function(e){
          $('.blog__image').offset({left: e.pageX, top: e.pageY - $('.blog__image img').height()/2 });
      });
  });
</script>
</html>