---
layout: default
---
<div class="home">
  {{ content }}
  <ul class="post-list">
    {% for post in site.posts %}

      <li style="display: flex">

        <div class="post-thumbnail">
          <div class="post-thumbnail-img">
            <img src="{{ post.thumbnail }}" />
          </div>
        </div>

        <div class="post-title-c {{ post.circle }}">
          <div class="c">
          {% assign date_format = site.minima.date_format | default: "%d.%m.%y" %}
            <span>{{ post.date | date: date_format }}</span><br/>
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
          </div>
        </div>

      </li>
    {% endfor %}
  </ul>
</div>